<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADMOB_SEARCH_INTERSTITIAL_AD_UNIT_ID</key>
	<string>$(ADMOB_SEARCH_INTERSTITIAL_AD_UNIT_ID)</string>
	<key>ADMOB_DISCOVER_NATIVE_AD_UNIT_ID</key>
	<string>$(ADMOB_DISCOVER_NATIVE_AD_UNIT_ID)</string>
	<key>GADApplicationIdentifier</key>
	<string>$(GAD_APPLICATION_IDENTIFIER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SAM_API_KEY</key>
	<string>$(SAM_API_KEY)</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use permission to show more relevant ads and support free app features.</string>
</dict>
</plist>
